{{#>strata type="footer" layout="footer"}}
  <nav class="small">
  {{#>list className="list rhythm-small"}}
    {{#>list-item}}
      {{#>link to="/articles" className="t-articles"}}Articles{{/link}}
    {{/list-item}}

    {{#>list-item}}
      {{#>link to="/open-source" className="t-open-source"}}Open Source Projects{{/link}}
    {{/list-item}}
    
    {{#>list-item}}
      {{#>link to="/contribute" className="t-contribute"}}Contribute{{/link}}
    {{/list-item}}
  {{/list}}
  </nav>

  <div class="small">&copy; Copyright 2015</div>
{{/strata}}